<div class="app-container">
  <div *ngIf="(user$|async)?.trim().length>0;then contractManager else login"></div>
</div>

<ng-template #contractManager>
  <p-toolbar>
    <div class="ui-toolbar-group-right">
      <i class="pi pi-user"></i>&nbsp;
      <label class="user-label">{{user$|async}}</label>&nbsp;
      <p-button icon="pi pi-times"
                styleClass="ui-button-danger"
                (onClick)="handleLogout()"
      ></p-button>
    </div>
  </p-toolbar>
  <app-contract-manager></app-contract-manager>
</ng-template>


<ng-template #login>
  <app-login></app-login>
</ng-template>
